html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.adm-tab-bar-item-active {
    color: rgb(27, 27, 27);
}

.adm-page-indicator-dot,
adm-page-indicator-dot-active {
    width: 20px !important;
    height: 1px !important;
}

.adm-swiper-indicator {
    margin-bottom: 10px;
}

.adm-page-indicator {
    --dot-spacing: 0px !important;
}

::-webkit-scrollbar {
    display: none;
}